body {
	background: url("../images/background2.jpg");
}

#game {
	background-color: rgba(255,255,255, .6);
	height: 600px;
	width: 1150px;
	position: relative;
	top: 90px;
}


#title1 {
	font-family: 'Asar', serif;
	font-size: 80px;
	text-align: center;
	color: black;
}

#musicTitle {
	font-family: 'Allura', cursive;
	font-size: 80px;
	font-style: bold italic;

}

 #timer, #question, #answer1, #score, #correctAnswer {

	font-family: 'Arya', sans-serif;
	margin-left: 60px;
}

#question, #score {
	font-size: 24px;
	font-style: bold; 
}

#answer1, #correctAnswer {
	font-size: 18px;
	position: relative;
	left: 10px;
}

#start {
	position: relative;
	top: 100px;
	left: 420px;
	font-size: 50px;
}





